{% extends "base.html" %}
{% block head %}
<link href="static/css/list.css" rel="stylesheet">
<script src="static/js/list.js"></script>

{% endblock head %}

{% block content %}
<div class="container">
    <div class="form-group pull-right">
        <input type="text" class="search form-control" placeholder="What you looking for?">
    </div>
    <span class="counter pull-right"></span>
    <table class="table table-hover table-bordered results">
      <thead>
        <tr>
          <th>#</th>
          <th class="col-md-12 col-xs-12">Title</th>
        </tr>
        <tr class="warning no-result">
          <td colspan="2"><i class="fa fa-warning"></i> No result</td>
        </tr>
      </thead>
      <tbody>
        {% for id, string in list_data %}
          <tr>
            <th scope="row">{{id}}</th>
            <td><a href="/yt/{{id}}"> {{string}}</a></td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
</div>


{% endblock content %}
